body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #C88E94;
}

section {
  background:#3D061C;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1 {
  color:#3D061C
}
h2, p, li {
  color: #EBD4CB;
}