body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #c6abab;
}

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1, h2 {
  color: #695353;
}
