body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #FFEAEE;
}

section {
  background:#C0A5A9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1, h2{
  color:#692E43
}
p, li {
  color: #816064;
}