body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #1A213D;
}

section {
  background:#EDC5C7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1 {
  color: #EDC5C7;
}

h2 {
  color:#A93F55;
}
p, li {
  color: #1A213D;
}