body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #3D061C;
}

section {
  background: #C88E94;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1, h2, p {
  color: #EBD4CB;
}