body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #FFFAF2;
}

/* ===== TOP BAR ===== */
.top-bar {
  background-color: #EFD7CF;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.top-bar h1 {
  color: #EDC5C7;
  margin: 0;
}

.top-bar p {
  margin-top: 8px;
  margin-bottom: 20px;
  color: #EDC5C7;
}

/* ===== NAV ===== */
nav {
  display: flex;
  gap: 20px;
}

nav button {
  background: none;
  border: none;
  color: #EDC5C7;
  font-weight: 600;
  padding-right: 20px;
  border-right: 1px solid #bbb;
  cursor: pointer;
}

nav button:last-child {
  border-right: none;
}

nav button:hover {
  color: #A93F55;
}

/* ===== SECTIONS ===== */
section {
  background: #FFFAF2;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: none;
  animation: fadeIn 0.3s ease;
}

/* ===== IMAGE ===== */
.profile-pic {
  width: 300px;
  border-radius: 10px;
}

/* ===== TEXT ===== */
h2 {
  color: #A93F55;
}

p, li {
  color: #1A213D;
}

.pink-text {
  color: #EDC5C7;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
