body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #3D2D2B;
}

section {
  background:#E5C2C0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1, h2{
  color:#477998
}
p, li {
  color: #3D2D2B;
}