/* ===== BODY ===== */
body {
  font-family: 'Fraunces', sans-serif;
  margin: 0;
  background: #FFFAF2;
}

/* ===== FULL-WIDTH TOP BAR ===== */
.top-bar {
  width: 100%;
  background-color: #DBCEC1; 
}
.top-bar-content {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.top-bar-content h1 {
  color: #56494C;
  margin: 0;
}

.top-bar-content p {
  color: #56494C;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* ===== NAV ===== */
nav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px; /* remove extra space */
}

nav button {
  background: none;
  border: none;
  color: #FFFAF2;
  font-weight: 600;
  padding-right: 20px;
  border-right: 1px solid #bbb;
  cursor: pointer;
}

nav button:last-child {
  border-right: none;
}

nav button:hover {
  color: #56494C;
}

/* ===== PAGE CONTENT ===== */
.page-content {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

/* ===== SECTIONS ===== */
section {
  background: #FFFAF2;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: none;
  animation: fadeIn 0.3s ease;
}

/* ===== IMAGE ===== */
.profile-pic {
  width: 300px;
  border-radius: 10px;
}

/* ===== TEXT ===== */
h2 {
  color: #818263;
}

p, li {
  color: #56494C;
}

.pink-text {
  color: #EDC5C7;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
