body {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #1A213D;
}
nav {
  display: flex;
  margin-bottom: 30px;
}

nav li {
  float: left;
  border-right: 1px solid #bbbbbb;
}

nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
nav button {
  cursor: pointer;
}


section {
  background:#EDC5C7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: none;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  color: #EDC5C7;
}

h2 {
  color:#A93F55;
}
p, li {
  color: #1A213D;
}